.webpack {
     background: url('../img/webpack.png') no-repeat center;
     height:500px;
 }
.small-webpack {
    background: url('../img/small-webpack.png') no-repeat center;
    height:250px;
}
.forward-a{
  font-size: 20px;
  cursor: pointer;
}
.forward-b{
  font-size: 20px;
  color:red;
  cursor:pointer;
}
