<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>test jquery</title>
</head>
<body>
<div class="header_top">
</div>
<!-- 引入头部组件 -->
<%= require('common')('header/header',true) %>

<a class="forward-a" href="/pageA.html">
  跳转到A页面
</a>
<a class="forward-b" href="/pageB.html">
  跳转到B页面
</a>
<!-- 引入尾部组件 -->
<%= require('common')('footer/footer',true) %>
<div class="small-webpack"></div>
<div class="webpack"></div>
</body>
</html>
