<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pageA</title>
</head>
<body class="page-a">
<%= require('common')('header/header',true) %>
  <div class="">
      我是a页面
  </div>
<%= require('common')('footer/footer',true) %>
</body>
</html>
