<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<%= require('common')('header/header',true) %>
    <div class="b_v">
      我是b页面
    </div>
<%= require('common')('footer/footer',true) %>
  </body>
</html>
